*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body
{
    background-image: url(../images/body-image.png);
    background-size: cover;
    background-repeat: repeat;   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    
}



 .menu
{
  
    margin-top: 3px;
    height: 640px;
    width:1000px;
    background-color: aliceblue;
    border: 4px solid #BF5F15;
    display: flex;  
    
} 

 .img img
{
  height:632px;

} 

.header
{
  display: block;
}

.header h2
{
    margin-left:220px ;
    padding-top: 40px;
    color: #BF5F15;
    font-size:25px;
    font-family:'Londrina Solid';
    
}

.header h3
{
    
    padding-top: 10px;
    margin-left: 80px;
    font-family: 'Bona Nova';
    font-size:25px
    
}

.img

{
    background-size:contain ;
    background-repeat: no-repeat;
}

.list-name1
{
 display: flex;
 margin-top:150px ;
 font-family: 'Bona Nova';

}

.burger-name1
{
  margin-left: -220px;
}

.burger-price1
{
  margin-left: 200px;
  font-size: 20px;
}

.list-name2
{
 display: flex;
  margin-top:120px ;
 font-family: 'Bona Nova';

}

.burger-name2
{
  margin-left: -220px;
}

.burger-price2
{
  margin-left: 200px;
  margin-top: -40px;
  font-size: 20px;
}


.list-name3
{
 display: flex;
 margin-top:150px ;
 font-family: 'Bona Nova';

}

.burger-name3
{
   margin-left: -470px; 
}

.burger-price3
{
   margin-left: -100px; 
  margin-top: -40px;
  font-size: 20px;
}

.brief1

{
    margin-top: -250px; 
    margin-left: -480px; 
    transition: 0.2s ease-in-out;
}

 .brief2

{
  margin-top: 90px;
  margin-left: -480px; 
  transition: 0.2s ease-in-out;
}

 .brief3

{
  margin-top: 80px;
  margin-left: -480px; 
  transition: 0.2s ease-in-out;
}  

.brief1:hover
{
    transform: scale(1.12);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.brief2:hover
{
    transform: scale(1.12);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.brief3:hover
{
    transform: scale(1.12);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.chef-special
{
    margin-top: 220px;
    height:870px;
    width:800px;
    background-color:aliceblue;
    border: 4px solid #BF5F15;
    margin-left: -900px;
}

.chef-special h1

{
   padding-top: 50px;
   margin-left: 250px;
   color: #BF5F15;
   font-family: 'Bona Nova';
   font-size: 50px;
   font-weight: 700;
   line-height: 115px;
}

.chef-img
{
    margin-left: 150px;
    margin-top: 30px;
    mix-blend-mode: multiply;
}

.chef-header
{
    display: flex;
    padding: 50px 170px;
    font-family: 'Bona Nova';

}

.chef-header h3
{
    padding-left: 170px;
    font-size:23px ;
}

.chef-menu-brief
{
      margin-left: 170px;
      font-size: 20px;
      transition: 0.2s ease-in-out;
}

.chef-menu-brief:hover
{
    transform: scale(1.12);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}


@media(max-width:900px)

{

  .menu
  {
    
      margin-top: 3px;
      height: 640px;
      width:800px;

  }

  .img img
{
  width:400px ;
}


.burger-name1
{
  margin-top: 40px;
  margin-left: -280px;
  font-size: 12px;
}

.burger-price1
{
  margin-top: 40px;
   margin-left: 80px; 
  font-size: 12px;
}


.brief1

{
    margin-top: -250px; 
    margin-left: -300px; 
    font-size: 12px;
}


.burger-name2
{
 
  /* margin-left: -220px; */
  margin-left: -270px;
  font-size: 12px;
}

.burger-price2
{
  /* margin-left: 80px; */
  margin-left: -20px;
  margin-top: -40px;
  font-size: 12px;
}


.brief2

{
  margin-left: -300px;
    font-size: 12px;
}


.burger-name3
{
 
  margin-left: -320px; 
  font-size: 12px;
}

.burger-price3
{
  margin-left: -60px;  
  margin-top: -20px;
  font-size: 12px;
}

.brief3

{
  
 padding-top: 40px;
 margin-left: -300px;
font-size: 12px;
    
}



.chef-special
  {
    margin-top: 250px;
    margin-left: -650px;
    height:800px;
    width:550px;

   
  }

  .chef-special h1

{
   padding-top: 25px;
   margin-left: 200px;
   font-size: 25px;
   font-weight: 700;
   line-height: 115px;
}

.chef-img img
{
    height:200px;
   
}

.chef-img
{
  margin-left: 120px;
}


.chef-header
{
    display: flex;
    padding: 40px 50px;
    font-family: 'Bona Nova';

}

.chef-header h2
{
  
   margin-top: 40px;
    font-size: 15px;
    margin-left: 20px;
}

.chef-header h3
{
    margin-top: 40px;
    font-size: 18px;
  
}

.chef-menu-brief
{
      margin-top: 20px;
      margin-left: 60px;
      font-size: 15px;
}


  
}




@media(max-width:600px)

{

  .menu
  {
    
      margin-top: 3px;
      height: 700px;
      width:500px;
     
  } 


.img{
  display: none;
} 


.burger-name1
{
  margin-top: 40px;
  margin-left: -220px;
  font-size: 12px;
}

.burger-price1
{
  margin-top: 40px;
   margin-left: 120px; 
  font-size: 12px;
}


.brief1

{
    margin-top: -250px; 
    margin-left: -420px; 
    font-size: 13px;
}


.burger-name2
{
 
  margin-left: -220px;
  font-size: 12px;
}

.burger-price2
{
  margin-left: 100px;
  margin-top: -20px;
  font-size: 12px;
}


.brief2

{
  margin-left: -420px;
    font-size: 13px;
}


.burger-name3
{
 
  margin-left: -380px; 
  font-size: 12px;
}

.burger-price3
{
    margin-left: -50px;  
  margin-top: -20px;
  font-size: 12px;
}

.brief3

{
  
 padding-top: 20px;
  margin-left: -420px;
    font-size: 13px;
    
}



  .chef-special
  {
    margin-top: 250px;
    margin-left: -420px;
    height:800px;
    width:400px;

   
  }

  .chef-special h1

{
   padding-top: 25px;
   margin-left: 130px;
   font-size: 25px;
   font-weight: 700;
   line-height: 115px;
}

.chef-img img
{
    height:200px;
   
}

.chef-img
{
  margin-left: 60px;
}


.chef-header
{
    display: flex;
    padding: 40px 50px;
    font-family: 'Bona Nova';

}

.chef-header h2
{
  
   margin-top: 40px;
    font-size: 15px;
    margin-left: 20px;
}

.chef-header h3
{
    margin-top: 40px;
    font-size: 18px;
  
}

.chef-menu-brief
{
      margin-top: 20px;
      margin-left: 40px;
      font-size: 15px;
}


}


@media(max-width:430px)

{

  .burger-price1
{
 
   margin-left: 100px; 
}

.brief1

{
    margin-top: -250px; 
    margin-left: -350px; 
    font-size: 12px;
}

.burger-price2
{
  margin-left: 60px;
  margin-top: -20px;
  font-size: 12px;
}


.brief2

{
  margin-left: -350px; 
  font-size: 12px;
}


.burger-name3
{
 
  margin-left: -350px; 
  font-size: 12px;
}

.burger-price3
{
    margin-left: -50px;  
  margin-top: -20px;
  font-size: 12px;
}

.brief3

{
  margin-left: -350px;  
  font-size: 12px;
  padding-top: 20px;
}

.chef-special
  {
    margin-top: 250px;
    margin-left: -380px;
    height:800px;
    width:400px;

   
  }
}